<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>About This Project </h1>
    <p>This project uses data from a study on student attitudes and behaviors </p>
	<h3>Source of the dataset </h3>
	<p>www.kaggle.com/datasets/susanta21/student-attitude-and-behavior</p>
    <h2>Data Definitions</h2>
    <ul>
        <li><strong>CertificationCourse:</strong> Indicates whether the student is enrolled in any certification courses.</li>
        <li><strong>Gender:</strong> The gender of the student (Male/Female).</li>
        <li><strong>Department:</strong> Department in which the student is enrolled.</li>
		<li><strong>Height (CM):</strong> The height of the student in centimeters.li>
		<li><strong>Weight (KG): </strong> The weight of the student in kilograms.</li>
		<li><strong>10th Mark: </strong> The student's marks obtained in the 10th grade.</li>
		<li><strong>12th Mark: </strong> The student's marks obtained in the 12th grade.</li>
		<li><strong>College Mark:</strong> The student's marks obtained in their college or university.</li>
		<li><strong>Hobbies:</strong> The hobbies or interests of the student.</li>
		<li><strong>Daily Studying Time:</strong> The amount of time the student spends studying on a daily basis.</li>
		<li><strong>Prefer to Study in:</strong> The preferred study environment or location of the student.</li>
		<li><strong>Salary Expectation:</strong> The student's expectation for their future salary.</li>
		<li><strong>Do you like your degree?:</strong> The student's opinion on whether they like their degree or not.</li>
		<li><strong>Willingness to pursue a career based on their degree:</strong> The student's willingness to pursue a career related to their degree.</li>
		<li><strong>Social Media & Video: </strong> The student's engagement with social media and video platforms.</li>
		<li><strong>Traveling Time: </strong> The time it takes for the student to commute or travel to their educational institution.</li>
		<li><strong>Stress Level: </strong> The perceived stress level of the student.</li>
		<li><strong>Financial Status:</strong>  The financial status or economic background of the student.</li>
		<li><strong>Part-time Job:</strong> Whether the student is engaged in a part-time job or not.</li>
		
		
		
        <!-- Add definitions for each column similarly -->
    </ul>
    <a href="/">Home</a>
	<h5>Done by mohammad mashayekh <h5>
	<h5>student id : 0855270 <h5>
</body>
</html>
