<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Page</title>
</head>
<body>
    <h1>Sample Data</h1>
    <table border="1">
        <tr>
            <th>CertificationCourse</th>
            <th>Gender</th>
            <th>Department</th>
			<th>Height (CM)</th>
            <th>Weight (KG)</th>
            <th>10th Mark</th>
			<th>12th Mark</th>
            <th>College Mark</th>
            <th>Hobbies</th>
			<th>Daily Studying Time:</th>
            <th>Prefer to Study in</th>
            <th>Salary Expectation</th>
			<th>Do you like your degree</th>
            <th>Willingness pursue career</th>
            <th>Social Media</th>
			<th>Traveling Time</th>
            <th>Stress Level</th>
            <th>Financial Status</th>
			<th>Part-time Job</th>
            
            
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
			<td>{{ row[3] }}</td>
			<td>{{ row[4] }}</td>
			<td>{{ row[5] }}</td>
			<td>{{ row[6] }}</td>
			<td>{{ row[7] }}</td>
			<td>{{ row[8] }}</td>
			<td>{{ row[9] }}</td>
			<td>{{ row[10] }}</td>
			<td>{{ row[11] }}</td>
			<td>{{ row[12] }}</td>
			<td>{{ row[13] }}</td>
			<td>{{ row[14] }}</td>
			<td>{{ row[15] }}</td>
			<td>{{ row[16] }}</td>
			<td>{{ row[17] }}</td>
			<td>{{ row[18] }}</td>
			
			
			
            
        </tr>
        {% endfor %}
    </table>
    <a href="/">Home</a>
</body>
</html>
